# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# C++
Build

# Java
Target
target

# IntelliJ
*.iml
.idea

# Visual Studio
ipch
*.sdf
*.opensdf
