svg.graph {
    border: 1px solid black;
}

g.node {
    cursor: pointer;
}

g.node text {
    fill: white;
    font: 0.7em sans-serif;
}

rect.node-header {
    fill: steelblue;
}

rect.node-body {
    fill: gray;
}

circle.input-edge {
    fill: LightSteelBlue;
}

circle.output-edge {
    fill: CornflowerBlue;
}

.link {
    fill: none;
    stroke: #777;
    stroke-width: 2px;
}